network:
  version: 2
  renderer: networkd
  ethernets:
    interface0:
      match:
        macaddress: {{ ansible_default_ipv4.macaddress }}
      dhcp4: no
      dhcp6: no
      addresses:
        - {{ ansible_default_ipv4.address }}/24
      nameservers:
        addresses: [10.1.100.51]
        search: [.]
      routes:
        - to: default
          via: 10.1.33.1
      set-name: eth0
