---
# https://docs.k3s.io/helm
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io/
  chart: cilium
  version: 1.15.0
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    bgpControlPlane:
      enabled: true
    cluster:
      name: kubernetes
      id: 1
    containerRuntime:
      integration: containerd
      socketPath: /var/run/k3s/containerd/containerd.sock
    endpointRoutes:
      enabled: true
    enableCiliumEndpointSlice: true
    bandwidthManager:
      enabled: true
    bpf:
      masquerade: true
    l7Proxy:
      enabled: true
    envoy:
      enabled: true
      rollOutPods: true
    autoDirectNodeRoutes: true
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: "{{ k3s_server['cluster-cidr'] }}"
    k8sServiceHost: 127.0.0.1
    k8sServicePort: 6444
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    enableRuntimeDeviceDetection: true
    loadBalancer:
      algorithm: maglev
      mode: dsr
    localRedirectPolicy: true
    devices: eno1
    operator:
      rollOutPods: true
    rollOutCiliumPods: true
    securityContext:
      privileged: true
      capabilities:
        ciliumAgent:
          - PERFMON
          - BPF
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUI
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
    tunnel: disabled
