#!/bin/bash
# Keepalived State Change Notification Script
# This script is called when Keepalived changes state (MASTER, BACKUP, FAULT)

STATE=$1
TIMESTAMP=$(date '+%Y-%m-%d %H:%M:%S')

case $STATE in
    MASTER)
        logger -t "keepalived-notify" "[$TIMESTAMP] Transitioned to MASTER state - Now serving DNS on VIP {{ adguardhome_vip }}"
        # Optional: Add webhook notification here
        # curl -X POST -H 'Content-Type: application/json' -d "{\"text\":\"AdGuard Home on $(hostname) is now MASTER\"}" YOUR_WEBHOOK_URL
        ;;
    BACKUP)
        logger -t "keepalived-notify" "[$TIMESTAMP] Transitioned to BACKUP state - Standing by"
        ;;
    FAULT)
        logger -t "keepalived-notify" "[$TIMESTAMP] Transitioned to FAULT state - Health check failed"
        ;;
    *)
        logger -t "keepalived-notify" "[$TIMESTAMP] Unknown state: $STATE"
        ;;
esac

exit 0
