[Unit]
Description=Raspberry Pi Camera Web Interface
After=network.target multi-user.target

[Service]
Type=simple
User={{ picam_user }}
Group={{ picam_group }}
WorkingDirectory={{ picam_app_dir }}
ExecStart={{ picam_app_dir }}/venv/bin/python3 {{ picam_app_dir }}/camera_server.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target