network:
  version: 2
  renderer: networkd
  ethernets:
    mainif:
      match:
        macaddress: {{ ansible_default_ipv4.macaddress }}
      set-name: mainif
      dhcp4: no
      dhcp6: no
      addresses:
        - {{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.netmask }}
      nameservers:
        addresses: [1.1.1.1,1.0.0.1]
        search: [.]
      routes:
        - to: default
          via: 149.28.62.1
        - to: 169.254.0.0/16
          via: 149.28.62.1
          metric: 100

